@charset "utf-8";
/**
* @description	Standard Layout
* @author		Nombre_programador
* @version		1.0
*/


/* ---------- Globales -------------- */
body,html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	
	}

@font-face {
    font-family: 'code_pro_demoregular';
    src: url('fonts/code_pro.eot');
    src: url('fonts/code_pro.eot?#iefix') format('embedded-opentype'),
         url('fonts/code_pro.woff') format('woff'),
         url('fonts/code_pro.ttf') format('truetype'),
         url('fonts/code_pro.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'code_pro_light_demoregular';
    src: url('fonts/code_pro_light_demo.eot');
    src: url('fonts/code_pro_light_demo.eot?#iefix') format('embedded-opentype'),
         url('fonts/code_pro_light_demo.woff') format('woff'),
         url('fonts/code_pro_light_demo.ttf') format('truetype'),
         url('fonts/code_pro_light_demo.svg#code_pro_light_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('font/opensans-regular.eot');
    src: url('font/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular.woff') format('woff'),
         url('font/opensans-regular.ttf') format('truetype'),
         url('font/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/opensans-semibold.eot');
    src: url('font/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-semibold.woff') format('woff'),
         url('font/opensans-semibold.ttf') format('truetype'),
         url('font/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.btns { 

    // background-image: image-url("sprite.png");
  background-image: image-url('sprite.png');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.no_background{
	background-position: 500px 500px;
	
}
.sprite{
        background-image: image-url('sprite.png');
	// background-image: image-url("sprite.png");
	background-repeat:no-repeat;
  	border: none;
  	background-color: transparent;

	}

.clear_block:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.ti{
    text-indent: -9999px;
}

/* ----------  End Globales -------------- */

.page{
	width: 100%;
	height: 100%;
    background-color: #d6d5da;
}
.page.trabajando{
    background-image: image-url("trabajando.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}

.landing .menu_principal{
    position: fixed;
    top: 0;

}

.formulario_pedido .menu_principal{

}


.menu_principal{
    height: 68px;
    width: 100%;
    z-index: 200;
    background-color: #ffffff;
    border-bottom: 32px solid #6c4723;
    box-sizing: content-box;
    
    .cont_menu{
        width: 950px;
        margin: auto;
        padding-top: 13px;
        position: relative;

        .menu_list{
            margin: 20px auto 0 auto;
            width: 680px;
            padding: 0;


        }
        .personajes{
            position: absolute;
            width: 90px;
            height: 185px;
            top: 5px;

        }
        .personajes.oliva{
            left: 0;
            background-position: 0 -166px;

        }
        .personajes.tomato{      
            right: 0;
            background-position: -103px -166px;
        }

    }

    .menu_items{
        float: left;
        margin-right: 26px;
        height: 20px;

        a{
            width: 100%;
            height: 100%;
            display: block;
            text-indent: -9999px;
        }

    }
    .menu_item_0{
        width: 95px;

        a{
            background-position: -2px -5px;  
        }      
        a:hover{
            background-position: -2px -35px;
        }
        a.activo{
            background-position: -2px -35px;
        }

    }
    .menu_item_1{
        width: 120px;

        a{
            background-position: -120px -5px;   
        }
        a:hover{
            background-position: -120px -35px;
        }
        a.activo{
            background-position: -120px -35px;
        }
    }
    .menu_item_2{
        width: 118px;
        
        a{
            background-position: -266px -5px;   
        }
        a:hover{
            background-position: -266px -35px;
        }
        a.activo{
            background-position: -266px -35px;
        }
    }
    .menu_item_3{
        width: 116px;
        
        a{
            background-position: -409px -5px;   
        }
        a:hover{
            background-position: -409px -35px;
        }
        a.activo{
            background-position: -409px -35px;
        }
    }
    .menu_item_4{
        width: 100px;
        margin-right: 0;
        
        a{
            background-position: -555px -5px;   
        }
        a:hover{
            background-position: -555px -35px;
        }
        a.activo{
            background-position: -555px -35px;
        }
    }
}

.logo{

    width: 308px;
    height: 40px;
    margin: auto;
}

.telefono{
    width: 190px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 9px;
    background-position: -7px -426px;
    display: block;
    color: #ed3424;
    font-size: 20px;
    .tlf{
        width: 123px;
        margin: 5px 0 0 43px;
    }
}
.btn_prepara_tu_ensalada{
    width: 178px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 14px;
    background-position: -7px -473px;
}
.btn_prepara_tu_ensalada:hover{
    background-position: -201px -473px;

}

.menu_sociales{
    width: 18px;
    height: 65px;
    position: absolute;
    top: 98px;
    left: 35px;
    list-style: none;
    padding: 0;
    li{
        height: 18px;
        margin-bottom: 8px;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .face{
        background-position: -2px -107px;
    }
    .tw{
        background-position: -29px -107px;
    }
    .email{
        background-position: -60px -107px;
    }
    .face:hover{
        background-position: -2px -133px;
    }
    .tw:hover{
        background-position: -29px -133px;
    }
    .email:hover{
        background-position: -60px -133px;
    }

}
.contenedor{
    width: 100%;
    background-color: #d6d5da;
}

.bloques{
    width: 100%;
    height: 700px;
    display: block;
    position: relative;
    overflow: hidden;
    min-width: 960px;
    img.bg{
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 10;
        visibility: hidden;
        
    }
}
.titulo{
    width: 672px;
    height: 77px;
    margin:80px auto 0 auto;
    h2{
        color: #4a2b0b;
        font-size: 24px;
        margin-bottom: 7px;
    }
    p{
        color: #000;
        font-size: 22px;
    }

}



.contenido{
    width: 904px;
    height: 630px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -452px;
    margin-top: -315px;
    z-index: 20;


    .info_block{
        padding-top: 34px;

        h2.titulo{
            color: #00a9df;
            font-family:"samsung_interfacebold";
            font-size: 38px;
            margin-bottom: 17px;
        }

        p.descripcion{
            color: #53555b;
            font-family: "samsung_interfaceregular";
            font-size: 16px;
            strong{
                font-family: "samsung_interfacebold";
            }


        }
    }


}


@media all and (max-height: 700px){

    .contenido{
        width: 904px;
        height: 630px;
        position: absolute;        
        top: 50px;
        left: 50%;
        margin-left: -452px;
        margin-top: 0;
        z-index: 20;
    }

}




.bloques.bloque_0{
/*
    background-image: image-url("bg_0.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    */
    .logo_oliva_tomato{
        width: 392px;
        height: 51px;
        margin: 50px auto 0 auto;

    }
    .titulo p{
        text-align: center;
    }
    .telefono{
        bottom: 24px;
        left: 120px;
    }
    .btn_prepara_tu_ensalada{
        bottom: 24px;
        right: 120px;
    }

}

.slide_contenedor_inicio{
    width: 658px;
    height: 348px;
    margin: 25px auto 0 auto;
    position: relative;

    border: 4px solid #ffffff;
    margin: auto;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);

    .slide_items{
        width: 658px;
        height: 348px;        
    }
    .img_ensaladas{
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .flechas{
        width: 26px;
        height: 94px;
        position: absolute;
        top: 120px;
    }
    .flechas.flecha_left {
        background-position: -345px -98px;
        left: -47px;
    }
    .flechas.flecha_right {
        background-position: -468px -98px;
        right: -47px;
    }
    .flechas.flecha_left:hover {
        background-position: -382px -98px;
        left: -47px;
    }
    .flechas.flecha_right:hover {
        background-position: -430px -98px;
        right: -47px;
    }

}
.slide_contenedor_inicio_pager{
    position: absolute;
    bottom: -30px;
    left: 50%;
    height: 22px; 
    a{
        background-image:image-url("sprite.png");
        background-repeat: no-repeat;
        background-position:  -542px -107px;
        text-indent: -99999px;
        width: 21px;
        height: 22px;
        display: block;
        float: left;
        margin-right: 8px;
    }
    a.activeSlide{
        background-position: -513px -107px;

    }

}
.bloques.bloque_1{
    /*
    img.bg{
        // margin-left: -71%;

    }
    */
    .contenido{
        background-image: image-url("txt_carton.jpg");
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.2);
    }
    .telefono{
        bottom: 60px;
        left: 120px;
    }
    .btn_prepara_tu_ensalada{
        bottom: 60px;
        right: 120px;
    }
}

.slide_contenedor_ensaladas{
    width: 678px;
    height: 325px;
    margin: auto;
    position: relative;

    .flechas{
        width: 26px;
        height: 94px;
        position: absolute;
        top: 120px;
    }
    .flechas.flecha_left {
        background-position: -345px -98px;
        left: -47px;
    }
    .flechas.flecha_right {
        background-position: -468px -98px;
        right: -47px;
    }
    .flechas.flecha_left:hover {
        background-position: -382px -98px;
        left: -47px;
    }
    .flechas.flecha_right:hover {
        background-position: -430px -98px;
        right: -47px;
    }


    /*
    This is the visible area of you carousel.
    Set a width here to define how much items are visible.
    The width can be either fixed in px or flexible in %.
    Position must be relative!
    */
    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 690px;
    }

    /*
    This is the container of the carousel items.
    You must ensure that the position is relative or absolute and
    that the width is big enough to contain all items.
    */
    .jcarousel ul {
        width: 1700px;
        position: relative;

        /* Optional, required in this case since it's a <ul> element */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /*
    These are the item elements. jCarousel works best, if the items
    have a fixed width and height (but it's not required).
    */
    .jcarousel li {
        /* Required only for block elements like <li>'s */
        float: left;
    }


    .jcarousel{

        li{
            width: 172px;
            height: 324px;
        }
        .ensalada_item{
            width: 150px;
            height: 312px;
            margin:0 auto;
            border: 1px solid #ffffff;
            -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            background-color: #c6c6c6;
            position: relative;

            img{
                width: 149px;
                height: 153px;
            }

        }
        .ensalada_titulo{
            color: #4a2b0b;
            font-size: 18px;
            text-align: center;
            margin-bottom: 9px;
        }
        .ensalada_desc{
            color: #000000;
            font-size: 12px;
            text-align: justify;
            margin-bottom: 14px;
            padding: 0 5px;
        }
        .ensalada_precio{
            font-size: 18px;
            color: #4a2b0b;
            font-family: Arial;
            padding: 0 5px;
            bottom: 5px;
            position: absolute;
        }
        .btn_detalle_ensalada{
            width: 23px;
            height: 24px;
            background-position: -215px -166px;
            display: block;
            float: right;
            margin-top: -24px;
            margin-right: 3px;
            position: absolute;
            right: 0;
            bottom: 5px;

        }
        .btn_detalle_ensalada:hover{
            background-position: -215px -194px;

        }
    }

}


.bloques.bloque_2{   
    .contenido{
        background-color: #ffffff;
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.2);
    }

    
}

.titulo_sabias_que{
    width: 672px;
    height: 40px;
    margin: 20px auto 0 auto;

    h2{
        color: #4a2b0b;
        font-size: 24px;
    }
}

.info_nutricional{
    width: 670px;
    height: 184px;
    margin: 0 auto;
    margin-top: 10px;

    .tabla_nutricional{
        width: 312px;
        height: 160px;
        float: left;
        margin: 15px 0 0 15px;
        table{
            color: #ffffff;
            width: 100%;
            height: 100%;
            font-size: 14px;
            font-family: arial;

            tr{

            }
            td{
                background: #b54529;
                border-collapse: collapse;
                border:1px solid #f7ac94;
                padding: 5px 0 0 10px;

            }
            td.titulo_tabla{
                background-color: #8f161a;
                font-size: 17px;

            }
            td.left{
                width: 155px;
            }
            td.right{

            }
            
        }
    }
    .recurso_nutricional{
        float: right;
        width: 312px;
        height: 160px;
        margin: 15px 15px 0 0;
        overflow: hidden;
        img{
            height: 100%;
            display: block;
            margin: auto;
        }
    }

}
.textos_adicionales{
    width: 670px;
    height: 184px;
    margin: 0 auto;
    margin-top: 20px;
    .txt_sabias_que{
        float: left;
        width: 334px;

    }
    .txt_fuente{
        float: right;
        width: 334px;

    }
    h3{
        color: #4a2b0b;
        font-size: 24px;
    }
    ul{
        list-style-image: image-url("bullet.png");
        width: 90%;

    } 
    ul li{
        font-size: 14px;
        color: #676766;
        line-height: 1.3;
        margin-bottom: 5px;
        margin-left: 12px;
        font-family: arial;

        a{
            color: #676766;
            text-decoration: none;            
        }
        a:hover{
            text-decoration: underline;  
        }
    }
}


.bloques.bloque_3{
    .contenido{
        background-image: image-url("txt_carton.jpg");
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.2);

    }
    .titulo{
        padding-top: 30px;
        height: 30px;
    }
    .titulo p{
        text-align: center;
    }
    .telefono{
        bottom: 24px;
        left: 120px;
    }

    .slide_contenedor_historia{
        width: 658px;
        height: 348px;
        margin: 25px auto 0 auto;
        position: relative;
        border: 4px solid #ffffff;
        -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);
        box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);

        .slide_items{
            width: 658px;
            height: 348px;        
        }
        .img_historia{
            margin: auto;
            width: 658px;
            height: 348px;  
        }
        .flechas{
            width: 26px;
            height: 94px;
            position: absolute;
            top: 120px;
        }
        .flechas.flecha_left {
            background-position: -345px -98px;
            left: -47px;
        }
        .flechas.flecha_right {
            background-position: -468px -98px;
            right: -47px;
        }
        .flechas.flecha_left:hover {
            background-position: -382px -98px;
            left: -47px;
        }
        .flechas.flecha_right:hover {
            background-position: -430px -98px;
            right: -47px;
        }

    }

}
.bloques.bloque_4{
    .contenido{
        background-image: image-url("txt_carton.jpg")  ;
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.2);

    }
    .telefono{
        bottom: 24px;
        left: 120px;
    }
    .btn_prepara_tu_ensalada{
        bottom: 24px;
        right: 120px;
    }
    .titulo.galeria_videos{
        margin: 20px auto 0 auto;

    }


}
.slide_contenedor_galeria_foto{
    width: 640px;
    height: 130px;
    margin: auto;
    position: relative;


    .flechas{
        width: 26px;
        height: 94px;
        position: absolute;
        top: 17px;
    }
    .flechas.flecha_left {
        background-position: -345px -98px;
        left: -47px;
    }
    .flechas.flecha_right {
        background-position: -468px -98px;
        right: -47px;
    }
    .flechas.flecha_left:hover {
        background-position: -382px -98px;
        left: -47px;
    }
    .flechas.flecha_right:hover {
        background-position: -430px -98px;
        right: -47px;
    }
    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 640px;
    }
    .jcarousel ul {
        width: 1700px;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .jcarousel{

        li{
            float: left;
            width: 160px;
            height: 130px;
            position: relative;
            overflow: hidden;
            a.galeria_foto_item{
                display: block;
                width: 124px;
                height: 124px;
                position: absolute;
                z-index: 100;
                top: 2px;
                left: 17px;

            }

            img{
                width: 120px;
                height: 120px;
                border:2px solid #ffffff;
                background-color: #ffffff;
                -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                position: absolute;
                z-index: 10;
                top: 2px;
                left: 17px;
            }
            p.foto_titulo{
                display: block;
                width: 114px;
                height: 84px;
                position: absolute;
                z-index: 30;
                top: 2px;
                left: 17px;
                background-color: #ffffff;
                color: #4a2b0b;
                padding: 40px 5px 0 5px;
                display: none;
            }
        }
        .ensalada_item{
            width: 150px;
            height: 138px;
            margin:0 auto;
            border: 1px solid #ffffff;
            -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            background-color: #c6c6c6;

        }
    }

}



.slide_contenedor_galeria_video{
    width: 640px;
    height: 130px;
    margin: auto;
    position: relative;


    .flechas{
        width: 26px;
        height: 94px;
        position: absolute;
        top: 17px;
    }
    .flechas.flecha_left {
        background-position: -345px -98px;
        left: -47px;
    }
    .flechas.flecha_right {
        background-position: -468px -98px;
        right: -47px;
    }
    .flechas.flecha_left:hover {
        background-position: -382px -98px;
        left: -47px;
    }
    .flechas.flecha_right:hover {
        background-position: -430px -98px;
        right: -47px;
    }
    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 640px;
    }
    .jcarousel ul {
        width: 1700px;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .jcarousel li {
        float: left;
    }


    .jcarousel{

        li{
            float: left;
            width: 160px;
            height: 130px;
            position: relative;
            overflow: hidden;
            a.galeria_foto_item{
                display: block;
                width: 124px;
                height: 124px;
                position: absolute;
                z-index: 100;
                top: 2px;
                left: 17px;

            }

            img{
                width: 120px;
                height: 120px;
                border:2px solid #ffffff;
                background-color: #ffffff;
                -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                position: absolute;
                z-index: 10;
                top: 2px;
                left: 17px;
            }
            p.foto_titulo{
                display: block;
                width: 114px;
                height: 84px;
                position: absolute;
                z-index: 30;
                top: 2px;
                left: 17px;
                background-color: #ffffff;
                color: #4a2b0b;
                padding: 40px 5px 0 5px;
                display: none;
            }
        }
        .ensalada_item{
            width: 150px;
            height: 138px;
            margin:0 auto;
            border: 1px solid #ffffff;
            -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            background-color: #c6c6c6;

        }
    }

}



/* ----------------------- footer ------------------*/
.footer{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 200;
    background-image: image-url("px_png_blanco.png");
    background-repeat: repeat;

    .cont_footer{
        width: 904px;
        margin: auto;
        height: 60px;
        position: relative;
    }

    .btn_cont_abajo{
        width: 100px;
        height: 42px;
        background-position: -103px -102px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: -37px;
        bottom: 0px;

    }
    .btn_cont_abajo:hover{
        background-position: -214px -102px;

    }
    .btn_volver_arriba{
        width: 94px;
        height: 44px;
        background-position: -105px -363px;
        position: absolute;
        left: 50%;
        margin-left: -47px;
        margin-top: -22px;
        bottom: 0px;
        display: none;
    }
    .btn_volver_arriba:hover{
        background-position: -216px -363px;

    }

}


#cboxLoadedContent{
    background-color: none;
}
.popup{
    width: 755px;
    height: 422px;
    background-color: #ece5d7;
    border:2px solid #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.2);

    .imagen_ensalada{
        width: 540px;
        height: 422px;
        float: left;
        overflow: hidden;

        img{
            height: 100%;
        }

    }
    .info_ensalada{
        width: 190px;
        float: right;
        padding: 0 12px;

    }

    .ensalada_titulo{
        font-size: 22px;
        color: #4a2b0b;
        margin-top: 12px;
    }
    .ensalada_descripcion{
        font-family: arial;
        font-size: 13px;
        line-height: 1.3;

    }
    table.informacion_nutricional{
        width: 100%;
        margin-top: 12px;
        vertical-align: middle;
        .table_titulo{
            height: 30px;
            color: #ffffff;
            background-color: #88857e;
            font-size: 14px;
            text-align: center;
            td{
                vertical-align: middle;
            }
        }
        .minerales{
            height: 20px;
            color: #4a2b0b;
            vertical-align: middle;
            font-family: arial;
            font-size: 12px; 
            td{
                vertical-align: middle;
            }  
        }
        .mineral{
            padding-left: 10px;

        }
        .porcentaje{
            width: 50px;
            text-align: center;

        }
        .minerales.even{
            background-color: #d6d2c9;

        }
        .minerales.odd{
            background-color: #f6f0e5;

        }
    }

    .btn_comprar_ensalada{
        display: block;
        width: 178px;
        height: 46px;
        background-position: -529px -165px;
        margin: 12px auto 0 auto;

    }
    .btn_comprar_ensalada:hover{
        background-position: -529px -220px;

    }

    .precio_cont{
        width: 165px;
        height: 77px;
        margin: 0 auto;
        background-position: -395px -460px;
        .txt_costo{
            font-size: 14px;
            color: #ffffff;
            padding:6px 0 0 20px;

        }
        .txt_monto{
            font-size: 30px;
            color: #ffffff;
            padding:2px 0 0 20px;

        }
    }

}


.galeria_popup_item{
    width: 635px;
    height: 435px;
    border:2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.2);
    box-shadow:2px 3px 7px 1px rgba(0, 0, 0, 0.2);

    .cont_descripcion{
        height: 74px;
        width: 100%;
        background-image:  image-url("bg_galeria_patt.jpg");
        background-repeat: repeat-x;
        color: #4a2b0b;

        .cont_titulo{
            display: table;
            float: left;
            width: 250px;
            height: 74px;

        }
        h3{
            font-size: 20px;
            height: 74px;
            display: table-cell;
            vertical-align: middle;
            padding-left: 20px;

        }
        .cont_desc{
            display: table;
            float: left;
            width: 340px;
            padding-left: 30px;
            height: 74px;
        }
        p.desc{
            font-family: 'open_sansregular';
            font-size: 14px;
            height: 74px;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .cont_imagen{
        overflow: hidden;
        height: 361px;
        .video_embed{
            width: 100%;
            height: 100%;
            background-image: image-url('loading.gif');
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}

.web_marron{
    color: #4a2b0b;
}

.page.formulario_pedido .container{
    width: 970px;
    background-image: image-url("txt_carton.jpg");
    background-repeat: repeat;
    margin: auto;
    font-family: 'open_sansregular';
    font-size: 16px;
}

.page.formulario_pedido .footer .btn_cont_abajo,
.page.formulario_pedido .footer .btn_volver_arriba{
    display: none;

}


.formulario_contenedor{
    width: 740px;
    margin:auto;
    padding-top: 70px;
    padding-bottom: 50px;
    h1{
        color: #4a2b0b;
        font-size: 28px;
        margin-bottom: 7px;
    }
    p.parrafo_titulo{
        font-size: 16px;
        color: #4a2b0b;
    }

    .cont_formulario{
        background-color: #e4c8a8;
        padding-top: 28px;
        margin-top: 20px;
        padding-bottom: 28px;
    }

}
.form_pedido{
    width: 680px;
    background-color: #e8e5d7;
    border:1px solid #ffffff;
    margin: auto;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    -webkid-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    
}
.cont_pedido{
    margin-top: 30px;
    height: 150px;
    background-color: #c6c6c6;

    .pedido_cont{
        float: left;
    }
    .pedido_imagen{
        width: 150px;
        height: 150px;
        img{
            width: 150px;
            height: 150px;
        }

    }
    .pedido_detalles{
        width: 325px;
        padding: 16px 16px 0 16px;
        h2{
            font-size: 20px;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            line-height: 1.2;
        }

    }
    .pedido_datos{
        width: 170px;
        height: 150px;

    }
    .btn_hacer_pedido{
        width: 158px;
        height: 46px;
        display: block;
        margin:5px 0 0 0;
        padding: 0;
        background-position: -562px -442px;

    }
    .btn_hacer_pedido:hover{
        background-position: -562px -493px;

    }
    .precio{
        width: 139px;
        height: 95px;
        background-position: -405px -442px;
        margin: 0px 0 0 10px;
        .txt_costo{
            font-size: 14px;
            color: #ffffff;
            padding:15px 0 0 8px;

        }
        .txt_monto{
            font-size: 30px;
            color: #ffffff;
            padding:2px 0 0 8px;

        }

    }
}