@charset "utf-8";
/**
* @description	Standard Layout
* @author		Nombre_programador
* @version		1.0
*/


/* ---------- Globales -------------- */
body,html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	
	}

@font-face {
    font-family: 'code_pro_demoregular';
    src: url('fonts/code_pro.eot');
    src: url('fonts/code_pro.eot?#iefix') format('embedded-opentype'),
         url('fonts/code_pro.woff') format('woff'),
         url('fonts/code_pro.ttf') format('truetype'),
         url('fonts/code_pro.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'code_pro_light_demoregular';
    src: url('fonts/code_pro_light_demo.eot');
    src: url('fonts/code_pro_light_demo.eot?#iefix') format('embedded-opentype'),
         url('fonts/code_pro_light_demo.woff') format('woff'),
         url('fonts/code_pro_light_demo.ttf') format('truetype'),
         url('fonts/code_pro_light_demo.svg#code_pro_light_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
.btns { 

    // background-image: image-url("sprite.png");
  background-image: image-url('sprite.png');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.no_background{
	background-position: 500px 500px;
	
}
.sprite{
        background-image: image-url('sprite.png');
	// background-image: image-url("sprite.png");
	background-repeat:no-repeat;
  	border: none;
  	background-color: transparent;

	}

.clear_block:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.ti{
    text-indent: -9999px;
}

/* ----------  End Globales -------------- */

.page{
	width: 100%;
	height: 100%;
    background-color: #d6d5da;
}
.page.trabajando{
    background-image: image-url("trabajando.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}

.menu_principal{
    position: fixed;
    top: 0;
    height: 68px;
    width: 100%;
    z-index: 200;
    background-color: #ffffff;
    border-bottom: 32px solid #6c4723;
    
    .cont_menu{
        width: 950px;
        margin: auto;
        padding-top: 13px;
        position: relative;

        .menu_list{
            margin: 20px auto 0 auto;
            width: 680px;


        }
        .personajes{
            position: absolute;
            width: 90px;
            height: 185px;
            top: 5px;

        }
        .personajes.oliva{
            left: 0;
            background-position: 0 -166px;

        }
        .personajes.tomato{      
            right: 0;
            background-position: -103px -166px;
        }

    }

    .menu_items{
        float: left;
        margin-right: 26px;
        height: 20px;

        a{
            width: 100%;
            height: 100%;
            display: block;
            text-indent: -9999px;
        }

    }
    .menu_item_0{
        width: 95px;

        a{
            background-position: -2px -5px;  
        }      
        a:hover{
            background-position: -2px -35px;
        }
        a.activo{
            background-position: -2px -35px;
        }

    }
    .menu_item_1{
        width: 120px;

        a{
            background-position: -120px -5px;   
        }
        a:hover{
            background-position: -120px -35px;
        }
        a.activo{
            background-position: -120px -35px;
        }
    }
    .menu_item_2{
        width: 118px;
        
        a{
            background-position: -266px -5px;   
        }
        a:hover{
            background-position: -266px -35px;
        }
        a.activo{
            background-position: -266px -35px;
        }
    }
    .menu_item_3{
        width: 116px;
        
        a{
            background-position: -409px -5px;   
        }
        a:hover{
            background-position: -409px -35px;
        }
        a.activo{
            background-position: -409px -35px;
        }
    }
    .menu_item_4{
        width: 100px;
        margin-right: 0;
        
        a{
            background-position: -555px -5px;   
        }
        a:hover{
            background-position: -555px -35px;
        }
        a.activo{
            background-position: -555px -35px;
        }
    }
}

.logo{

    width: 308px;
    height: 40px;
    margin: auto;
}

.telefono{
    width: 190px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 9px;
    background-position: -7px -426px;
    display: block;
    color: #ed3424;
    font-size: 20px;
    .tlf{
        width: 123px;
        margin: 5px 0 0 43px;
    }
}
.btn_prepara_tu_ensalada{
    width: 178px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 14px;
    background-position: -7px -473px;
}
.btn_prepara_tu_ensalada:hover{
    background-position: -201px -473px;

}

.menu_sociales{
    width: 18px;
    height: 65px;
    position: absolute;
    top: 98px;
    left: 35px;
    li{
        height: 18px;
        margin-bottom: 8px;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .face{
        background-position: -2px -107px;
    }
    .tw{
        background-position: -29px -107px;
    }
    .email{
        background-position: -60px -107px;
    }
    .face:hover{
        background-position: -2px -133px;
    }
    .tw:hover{
        background-position: -29px -133px;
    }
    .email:hover{
        background-position: -60px -133px;
    }

}
.contenedor{
    width: 100%;
    background-color: #d6d5da;
}

.bloques{
    width: 100%;
    height: 700px;
    display: block;
    position: relative;
    overflow: hidden;
    min-width: 960px;
    img.bg{
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 10;
        visibility: hidden;
        
    }
}
.titulo{
    width: 672px;
    height: 77px;
    margin:80px auto 0 auto;
    h2{
        color: #4a2b0b;
        font-size: 24px;
        margin-bottom: 7px;
    }
    p{
        color: #000;
        font-size: 22px;
    }

}



.contenido{
    width: 904px;
    height: 630px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -452px;
    margin-top: -315px;
    z-index: 20;

    .info_block{
        padding-top: 34px;

        h2.titulo{
            color: #00a9df;
            font-family:"samsung_interfacebold";
            font-size: 38px;
            margin-bottom: 17px;
        }

        p.descripcion{
            color: #53555b;
            font-family: "samsung_interfaceregular";
            font-size: 16px;
            strong{
                font-family: "samsung_interfacebold";
            }


        }
    }


}


@media all and (max-height: 700px){
    .contenido{
        width: 904px;
        height: 630px;
        position: absolute;        
        top: 50px;
        left: 50%;
        margin-left: -452px;
        margin-top: 0;
        z-index: 20;
    
        .slide_contenedor_historia{

        }        


        .telefono{

        }
    }
}




.bloques.bloque_0{
/*
    background-image: image-url("bg_0.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    */
    .logo_oliva_tomato{
        width: 392px;
        height: 51px;
        margin: 50px auto 0 auto;

    }
    .titulo p{
        text-align: center;
    }
    .telefono{
        bottom: 24px;
        left: 120px;
    }
    .btn_prepara_tu_ensalada{
        bottom: 24px;
        right: 120px;
    }

}

.slide_contenedor_inicio{
    width: 658px;
    height: 348px;
    margin: 25px auto 0 auto;
    position: relative;

    border: 4px solid #ffffff;
    margin: auto;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);

    .slide_items{
        width: 658px;
        height: 348px;        
    }
    .img_ensaladas{
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .flechas{
        width: 26px;
        height: 94px;
        position: absolute;
        top: 120px;
    }
    .flechas.flecha_left {
        background-position: -345px -98px;
        left: -47px;
    }
    .flechas.flecha_right {
        background-position: -468px -98px;
        right: -47px;
    }
    .flechas.flecha_left:hover {
        background-position: -382px -98px;
        left: -47px;
    }
    .flechas.flecha_right:hover {
        background-position: -430px -98px;
        right: -47px;
    }

}
.slide_contenedor_inicio_pager{
    position: absolute;
    bottom: -30px;
    left: 50%;
    height: 22px; 
    a{
        background-image:image-url("sprite.png");
        background-repeat: no-repeat;
        background-position:  -542px -107px;
        text-indent: -99999px;
        width: 21px;
        height: 22px;
        display: block;
        float: left;
        margin-right: 8px;
    }
    a.activeSlide{
        background-position: -513px -107px;

    }

}
.bloques.bloque_1{
    /*
    img.bg{
        // margin-left: -71%;

    }
    */
    .contenido{
        background-image: image-url("txt_carton.jpg");
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.2);
    }
    .telefono{
        bottom: 60px;
        left: 120px;
    }
    .btn_prepara_tu_ensalada{
        bottom: 60px;
        right: 120px;
    }
}

.slide_contenedor_ensaladas{
    width: 678px;
    height: 325px;
    margin: auto;
    position: relative;

    .flechas{
        width: 26px;
        height: 94px;
        position: absolute;
        top: 120px;
    }
    .flechas.flecha_left {
        background-position: -345px -98px;
        left: -47px;
    }
    .flechas.flecha_right {
        background-position: -468px -98px;
        right: -47px;
    }
    .flechas.flecha_left:hover {
        background-position: -382px -98px;
        left: -47px;
    }
    .flechas.flecha_right:hover {
        background-position: -430px -98px;
        right: -47px;
    }


    /*
    This is the visible area of you carousel.
    Set a width here to define how much items are visible.
    The width can be either fixed in px or flexible in %.
    Position must be relative!
    */
    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 690px;
    }

    /*
    This is the container of the carousel items.
    You must ensure that the position is relative or absolute and
    that the width is big enough to contain all items.
    */
    .jcarousel ul {
        width: 1700px;
        position: relative;

        /* Optional, required in this case since it's a <ul> element */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /*
    These are the item elements. jCarousel works best, if the items
    have a fixed width and height (but it's not required).
    */
    .jcarousel li {
        /* Required only for block elements like <li>'s */
        float: left;
    }


    .jcarousel{

        li{
            width: 172px;
            height: 324px;
        }
        .ensalada_item{
            width: 150px;
            height: 312px;
            margin:0 auto;
            border: 1px solid #ffffff;
            -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            background-color: #c6c6c6;

        }
        .ensalada_titulo{
            color: #4a2b0b;
            font-size: 18px;
            text-align: center;
            margin-bottom: 9px;
        }
        .ensalada_desc{
            color: #000000;
            font-size: 12px;
            text-align: justify;
            margin-bottom: 14px;
            padding: 0 5px;
        }
        .ensalada_precio{
            font-size: 18px;
            color: #ffffff;
            font-family: Arial;
            padding: 0 5px;
        }
        .btn_detalle_ensalada{
            width: 23px;
            height: 24px;
            background-position: -215px -166px;
            display: block;
            float: right;
            margin-top: -24px;
            margin-right: 3px;

        }
        .btn_detalle_ensalada:hover{
            background-position: -215px -194px;

        }
    }

}


.bloques.bloque_2{   
    .contenido{
        background-color: #ffffff;
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.2);
    }

    
}

.titulo_sabias_que{
    width: 672px;
    height: 40px;
    margin: 20px auto 0 auto;

    h2{
        color: #4a2b0b;
        font-size: 24px;
    }
}

.info_nutricional{
    width: 670px;
    height: 184px;
    margin: 0 auto;
    background-color: #f1f2ea;
    margin-top: 10px;

    .tabla_nutricional{
        width: 312px;
        height: 160px;
        float: left;
        margin: 15px 0 0 15px;
        table{
            color: #ffffff;
            width: 100%;
            height: 100%;
            font-size: 14px;
            font-family: arial;

            tr{

            }
            td{
                background: #b54529;
                border-collapse: collapse;
                border:1px solid #f7ac94;
                padding: 5px 0 0 10px;

            }
            td.titulo_tabla{
                background-color: #8f161a;

            }
            td.left{
                width: 155px;
            }
            td.right{

            }
            
        }
    }
    .recurso_nutricional{
        float: right;
        width: 312px;
        height: 160px;
        margin: 15px 15px 0 0;
    }

}

.bloques.bloque_3{
    .contenido{
        background-image: image-url("txt_carton.jpg");
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.2);

    }
    .titulo{
        padding-top: 30px;
        height: 30px;
    }
    .titulo p{
        text-align: center;
    }
    .telefono{
        bottom: 24px;
        left: 120px;
    }

    .slide_contenedor_historia{
        width: 658px;
        height: 348px;
        margin: 25px auto 0 auto;
        position: relative;
        border: 4px solid #ffffff;
        -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);
        box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);

        .slide_items{
            width: 658px;
            height: 348px;        
        }
        .img_historia{
            margin: auto;
            width: 658px;
            height: 348px;  
        }
        .flechas{
            width: 26px;
            height: 94px;
            position: absolute;
            top: 120px;
        }
        .flechas.flecha_left {
            background-position: -345px -98px;
            left: -47px;
        }
        .flechas.flecha_right {
            background-position: -468px -98px;
            right: -47px;
        }
        .flechas.flecha_left:hover {
            background-position: -382px -98px;
            left: -47px;
        }
        .flechas.flecha_right:hover {
            background-position: -430px -98px;
            right: -47px;
        }

    }

}
.bloques.bloque_4{
    .contenido{
        background-image: image-url("txt_carton.jpg")  ;
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.2);

    }
    .telefono{
        bottom: 24px;
        left: 120px;
    }
    .btn_prepara_tu_ensalada{
        bottom: 24px;
        right: 120px;
    }
    .titulo.galeria_videos{
        margin: 20px auto 0 auto;

    }


}
.slide_contenedor_galeria_foto{
    width: 640px;
    height: 130px;
    margin: auto;
    position: relative;


    .flechas{
        width: 26px;
        height: 94px;
        position: absolute;
        top: 17px;
    }
    .flechas.flecha_left {
        background-position: -345px -98px;
        left: -47px;
    }
    .flechas.flecha_right {
        background-position: -468px -98px;
        right: -47px;
    }
    .flechas.flecha_left:hover {
        background-position: -382px -98px;
        left: -47px;
    }
    .flechas.flecha_right:hover {
        background-position: -430px -98px;
        right: -47px;
    }
    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 640px;
    }
    .jcarousel ul {
        width: 1700px;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .jcarousel li {
        float: left;
    }


    .jcarousel{

        li{
            width: 160px;
            height: 130px;
            a{
                display: block;
                width: 120px;
                height: 120px;
                border:2px solid #ffffff;
                background-color: #ffffff;
                -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                margin:2px auto 0 auto;

                img{
                    width: 100%;
                    height: 100%;
                }

            }
        }
        .ensalada_item{
            width: 150px;
            height: 138px;
            margin:0 auto;
            border: 1px solid #ffffff;
            -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            background-color: #c6c6c6;

        }
    }

}



.slide_contenedor_galeria_video{
    width: 640px;
    height: 130px;
    margin: auto;
    position: relative;


    .flechas{
        width: 26px;
        height: 94px;
        position: absolute;
        top: 17px;
    }
    .flechas.flecha_left {
        background-position: -345px -98px;
        left: -47px;
    }
    .flechas.flecha_right {
        background-position: -468px -98px;
        right: -47px;
    }
    .flechas.flecha_left:hover {
        background-position: -382px -98px;
        left: -47px;
    }
    .flechas.flecha_right:hover {
        background-position: -430px -98px;
        right: -47px;
    }
    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 640px;
    }
    .jcarousel ul {
        width: 1700px;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .jcarousel li {
        float: left;
    }


    .jcarousel{

        li{
            width: 160px;
            height: 130px;
            a{
                display: block;
                width: 120px;
                height: 120px;
                border:2px solid #ffffff;
                background-color: #ffffff;
                -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
                margin:2px auto 0 auto;

                img{
                    width: 100%;
                    height: 100%;
                }

            }
        }
        .ensalada_item{
            width: 150px;
            height: 138px;
            margin:0 auto;
            border: 1px solid #ffffff;
            -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, 0.2);
            background-color: #c6c6c6;

        }
    }

}




/* -------------------  bloques genereales ---------------*/
.slide_pager.slide_beneficios_pager{
    width: 165px;
    height: 30px;
}
.slide_pager.slide_cello_pager{
    width: 130px;
    height: 30px;
    padding-left: 20px
}
.slide_pager.slide_familia_pager{
    width: 255px;
    height: 30px;
    padding-left: 12px;
}
.slide_pager.slide_videos_pager{
    width: 100px;
    height: 30px;
    padding-left: 30px
}


.btn_tooltip{
    width: 35px;
    height: 35px;
    position: absolute;
    background-position: -361px -492px;  
    z-index: 200;
}
.btn_tooltip.activo{
    background-position: -404px -492px;  
}
.btn_tooltip:hover{
    background-position: -404px -492px;  
}

.tooltip{
    display: inline-block;
    background-color: #4a4e57;
    background-image: image-url("bg_tooltip.png");
    background-repeat:repeat;
    border: 1px solid #dadada;
    border-radius: 5px;
    position: absolute;

    .btn_cerrar_tooltip{
        width: 23px;
        height: 23px;
        background-position: -494px -273px;
        position: absolute;
        right: -10px;
        top: -10px;
        z-index: 200;

    }
    .flecha{
        position: absolute;
        background-image: image-url("flechas.png");
        background-repeat: no-repeat;

    }

    .btn_cerrar_tooltip:hover{
        background-position: -521px -273px;        
    }
    
    h3.tooltip_titulo{
        color: #4dd3ff;
        font-family: "samsung_interfaceregular";
        font-size: 18px;
        height: 26px;
        padding: 15px 15px 0;
        margin-bottom: 12px;

        background-image: image-url("brillo_tooltip.png");
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
    }
    
    p.tooltip_desc{
        color: #ebebec;
        font-family: "samsung_interfaceregular";
        font-size: 13px;
        padding: 0 15px;
        line-height: 1.2;
        margin-bottom: 15px;
        
        strong{
            font-family: "samsung_interfaceblack";

        }
    }
}

/* ----------------- Beneficios ------------------*/
.slide_contenedor_beneficios{
    width: 540px;
    height: 323px;
    margin: auto;
    margin-top: 55px;

    .slide_beneficios{
        width: 540px;
        height: 323px;          
        .slide_items{
            width: 540px;
            height: 323px;
            background-image: image-url("microondas.png");
            background-repeat: no-repeat;

        }
        .slide_item_0{
            background-position: 0 0;

        }
        .slide_item_1{
            background-position: -540px 0;
            
        }
        .slide_item_2{
            background-position: -540px 0;
            
        }
        .slide_item_3{
            background-position: -1078px 0;
            
        }
    }


    .slide_item_0 .btn_tooltip{
        left: 176px;
        top: 104px;    
    }
    .slide_item_1 .btn_tooltip{
        left: 388px;
        top: 157px;  
    }
    .slide_item_2 .btn_tooltip{
        left: 388px;
        top: 92px;  
    }
    .slide_item_3{
        .btn_tooltip{
            left: 230px;
            top: 136px;   
        }

        .ondas{
            width: 92px;
            height: 34px;
            position: absolute;
        }
        .onda_0{
            background-position: -172px -637px;
            left: 130px;
            top: 100px;
        }
        .onda_1{
            background-position: -172px -637px;
            left: 130px;
            top: 160px;
        }
        .onda_2{
            background-position: -274px -637px;
            left: 270px;
            top: 130px;
        }

    } 



    .slide_item_0 .tooltip{
        height: 327px;
        left: 449px;
        top: -32px;
        width: 278px;

        p.tooltip_desc.tested_bg{
            background-image: image-url("tested_img.png");
            background-repeat: no-repeat;
            background-position: 12px 0;
            padding: 20px 0 60px 128px;
            margin-bottom: 0;

        }
        .flecha{
            width: 257px;
            height: 119px;
            top: 24px;
            left: -257px;
        }

    }
    .slide_item_1 .tooltip{
        height: 160px;
        left: -168px;
        top: 20px;
        width: 278px;
        
        p.tooltip_desc.tested_bg{
            background-image: image-url("tested_img.png");
            background-repeat: no-repeat;
            background-position: 12px 0;
            padding: 20px 0 60px 128px;
            margin-bottom: 0;

        }
        .flecha{
            background-position: 0 -123px;
            height: 119px;
            left: 278px;
            top: 24px;
            width: 295px;
        }
        .icono_tit{
            height: 29px;
            position: relative;
            margin-left:20px; 
            width: 30px;    
            img{
                position: absolute;
                left: 0px;
                bottom: 0px;
            } 
        }

    }
    .slide_item_2 .tooltip{
        height: 176px;
        left: 429px;
        top: -7px;
        width: 285px;
        
        p.tooltip_desc.tested_bg{
            background-image: image-url("tested_img.png");
            background-repeat: no-repeat;
            background-position: 12px 0;
            padding: 20px 0 60px 128px;
            margin-bottom: 0;

        }
        .flecha{
            background-position: -270px 0;
            height: 81px;
            left: -25px;
            top: 24px;
            width: 25px;
        }
        .icono_tit{
            height: 29px;
            left: 170px;
            position: absolute;
            top: -15px;
            width: 30px;    
        }

    }
    .slide_item_3 .tooltip{
        height: 164px;
        left: 419px;
        top: -24px;
        width: 278px;
        
        p.tooltip_desc.tested_bg{
            background-image: image-url("tested_img.png");
            background-repeat: no-repeat;
            background-position: 12px 0;
            padding: 20px 0 60px 128px;
            margin-bottom: 0;

        }
        .flecha{
            background-position: 0px -266px;
            height: 142px;
            left: -173px;
            top: 24px;
            width: 172px;
        }

    }
}


/* ----------------- Cello ------------------*/
.slide_contenedor_cello{
    width: 540px;
    height: 323px;
    margin: auto;
    margin-top: 20px;

    .slide_cello{
        width: 540px;
        height: 323px;          
        .slide_items{
            width: 540px;
            height: 323px;
            background-image: image-url("microondas.png");
            background-repeat: no-repeat;

        }
        .slide_item_0{
            background-position: -540px 0;

        }
        .slide_item_1{
            background-position: 0 0;
            
        }
        .slide_item_2{
            background-position: -1078px 0;
            // background-position: -540px 0;
            
        }

    }


    .slide_item_0 .btn_tooltip{
        left: 366px;
        top: 90px;   
    }
    .slide_item_1 .btn_tooltip_a{
        left: 138px;
        top: 156px;
    }
    .slide_item_1 .btn_tooltip_b{
        left: 203px;
        top: 20px;
    }
    .slide_item_2 .btn_tooltip{
        left: 230px;
        top: 163px;
    }



    .slide_item_0 .tooltip{
        height: 146px;
        left: -161px;
        top: -2px;
        width: 280px;

        .flecha{
            background-position: -28px -123px;
            width: 267px;
            height: 74px;
            top: 24px;
            left: 278px;
        }

    }
    .slide_item_1 .tooltip{
        height: 175px;
        left: 486px;
        top: -15px;
        width: 280px;
        
        p.tooltip_desc.tested_bg{
            background-image: image-url("tested_img.png");
            background-repeat: no-repeat;
            background-position: 12px 0;
            padding: 20px 0 60px 128px;
            margin-bottom: 0;
        }
        h3.tooltip_titulo{
            height: 65px;
            background-image: image-url("brillo_tooltip2.png");
            background-repeat: no-repeat;
            line-height: 1.15;
        }
        .flecha{
            background-position: 0 -411px;
            height: 154px;
            left: -332px;
            top: 24px;
            width: 332px;
        }
        .icono_tit{
            height: 29px;
            left: 107px;
            position: absolute;
            top: 6px;
            width: 30px;     
        }

    }
    .slide_item_2 .tooltip{
        height: 137px;
        left: 429px;
        top: -7px;
        width: 280px;
        
        p.tooltip_desc.tested_bg{
            background-image: image-url("tested_img.png");
            background-repeat: no-repeat;
            background-position: 12px 0;
            padding: 20px 0 60px 128px;
            margin-bottom: 0;

        }
        .flecha{
            background-position: 0 -567px;
            height: 152px;
            left: -183px;
            top: 24px;
            width: 182px;
        }
        .icono_tit{
            height: 29px;
            left: 150px;
            position: absolute;
            top: -15px;
            width: 30px;    
        }

    }
}



.btns_sociales_cello{
    position: absolute;
    height: 31px;
    left: 540px;
}
    
.btns_sociales_cello.btn_vermas{
    width: 102px;
    top: 170px;
    background-position: -365px -181px;
}
.btns_sociales_cello.btn_vermas:hover{
    background-position: -365px -218px;
}
.btns_sociales_cello.btn_compartir{
    width: 112px;
    top: 210px;
    background-position: -485px -181px;
}
.btns_sociales_cello.btn_compartir:hover{                    
    background-position: -485px -218px;
}



/* ----------------- Familia ------------------*/
.slide_contenedor_familia{
    width: 852px;
    height: 344px;
    margin: auto;
    margin-top: 20px;

    .slide_familia{
        width: 852px;
        height: 344px;          
        .slide_items{
            width: 852px;
            height: 344px; 

        }
        .slide_item_0{
            background-position: -540px 0;

        }
        .slide_item_1{
            background-position: 0 0;
            
        }
        .slide_item_2{
            background-position: -1078px 0;
            
        }

    }


}


/*.btns_sociales_familia{
    position: absolute;
    height: 31px;
    left: 540px;
    .btn_vermas{
        width: 102px;
        top: 170px;
        background-position: -365px -181px;
    }
    .btn_vermas:hover{
        background-position: -365px -218px;
    }
    .btn_compartir{
        width: 112px;
        top: 210px;
        background-position: -485px -181px;
    }
    .btn_compartir:hover{                    
        background-position: -485px -218px;
    }

}
*/

.btns_colores_contenedor{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 215px;
    height: 40px;

    .txt_colores{
        color: #53555b;
        font-family: "samsung_interfacebold";
        font-size: 13px;
        line-height: 3.3;
        float: left;
        height: 39px;
        margin-right: 20px;
    }
    .btns_color{
        width: 39px;
        height: 39px;
        float: left;
        margin-right: 20px;
    }
    .btn_gris{
        background-position: -362px -393px;
    }
    .btn_gris:hover{
        background-position: -362px -443px;
    }
    .btn_gris.activo{
        background-position: -362px -443px;
    }
    .btn_blanco{
        background-position: -422px -393px;
    }
    .btn_blanco:hover{
        background-position: -422px -443px;
    }
    .btn_blanco.activo{
        background-position: -422px -443px;
    }

}

.btns_sociales_familia_cont{
    width: 300px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    left: 20px;

    .btns_sociales_familia{
        height: 31px;
        float: left;
        margin-right: 20px;
    }

    .btn_vermas{
        width: 102px;
        background-position: -365px -181px;
        margin-left: 15px;
    }
    .btn_vermas:hover{
        background-position: -365px -218px;
    }
    .btn_compartir{
        width: 112px;
        background-position: -485px -181px;
    }
    .btn_compartir:hover{                    
        background-position: -485px -218px;
    }

}


.slide_contenedor_familia .slide_items .color_gris{            
        width: 852px;
        height: 344px;
        display: none;            
}
.slide_contenedor_familia .slide_items .color_blanco{            
        width: 852px;
        height: 344px;
        display: none;            
}

.slide_contenedor_familia .slide_items .color_gris.activo{
    display: block;
}  
.slide_contenedor_familia .slide_items .color_blanco.activo{
    display: block;
}   

.slide_familia .info_microonda{
    float: left;
    width: 300px;
    height: 100%;
    margin-left: 40px;
    
    h3.titulo{
        color: #0689d8;
        font-family: "samsung_interfacebold";
        font-size: 27px;
        padding-left: 11px;
        background-image: image-url("icon1.png");
        background-position: left center;
        background-repeat: no-repeat;
        margin-bottom: 11px;


    }
    .bajada{
        color: #53555b;
        font-family: "samsung_interfacebold";
        font-size: 17px;
        padding-left: 11px;
        margin-bottom: 10px;
    }
    .modelos{
        color: #0689d8;
        font-family: "samsung_interfacebold";
        font-size: 17px;  
        padding-left: 11px;   
        line-height: 1.2;
        margin-bottom: 14px;
    }
    ul{
        list-style: none inside image-url("bullet.png");

    }
    li{
        color: #53555b;
        font-family: "samsung_interfaceregular";
        font-size: 16px;
    }


}

.slide_familia .foto_microonda{
    width: 448px;
    float: right;
    height: 100%;
    margin-right: 25px;
    img.microonda_img{
        width: 448px;
    }
}
/*
.flechas{
    width: 28px;
    height: 97px;
    position: absolute;
    top: 280px;

}

.flechas.flecha_left{
    background-position: -374px -639px;
    left: -2px;
}
.flechas.flecha_right{
    background-position: -434px -639px;
    left: 878px;
}

.flechas.flecha_left:hover{
    background-position: -494px -639px;
}
.flechas.flecha_right:hover{
    background-position: -554px -639px;
}
*/

/* ----------------- Videos ------------------*/
.slide_contenedor_videos{
    width: 630px;
    height: 368px;
    margin: auto;
    margin-top: 0px;

    .slide_videos{
        width: 630px;
        height: 368px;         
        .slide_items{
            width: 630px;
            height: 368px;

        }
        .slide_item_0{

        }
        .slide_item_1{
            
        }

    }


}

.video_items {
    // width: 272px;
    // height: 161px;
    // border: 1px solid #aaaaaa;
    // position: relative;
    // float: left;
    // margin-bottom: 27px;

    border: 1px solid #AAAAAA;
    float: left;
    height: 161px;
    margin-bottom: 27px;
    margin-left: 176px;
    margin-top: 100px;
    position: relative;
    width: 272px;

    .video_miniatura_img{
        width: 263px;
        height: 152px;
        margin: 4px 0 0 4px;
    }
    .miniatira_img{
        width: 263px;
        height: 152px;        
    }
    .video_btn_play{
        background-position: -374px -107px;
        position: absolute;
        left: 15px;
        top: 14px;
        width: 40px;
        height: 40px;

    }
    .video_info_contenedor{
        position: absolute;
        left: 70px;
        top: 12px;
        color: #eff1f1;
        
        font-size: 15px;        
        .video_titulo{
            font-family: "samsung_interfacebold";
        }
        .video_info{
            font-family: "samsung_interfaceregular";

        }
    }
    .sombra_video{
        width: 274px;
        height: 18px;
        position: absolute;
        bottom: -18px;
        background-position: 0 -713px;

    }

}
.video_items.left{
    margin-right:80px;
}

/* ----------------------- footer ------------------*/
.footer{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 200;
    background-image: image-url("px_png_blanco.png");
    background-repeat: repeat;

    .cont_footer{
        width: 904px;
        margin: auto;
        height: 60px;
        position: relative;
    }

    .btn_cont_abajo{
        width: 100px;
        height: 42px;
        background-position: -103px -102px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: -37px;
        bottom: 0px;

    }
    .btn_cont_abajo:hover{
        background-position: -214px -102px;

    }
    .btn_volver_arriba{
        width: 94px;
        height: 44px;
        background-position: -105px -363px;
        position: absolute;
        left: 50%;
        margin-left: -47px;
        margin-top: -22px;
        bottom: 0px;
        display: none;
    }
    .btn_volver_arriba:hover{
        background-position: -216px -363px;

    }

}

/* -------------------- modal ------------------------*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-image: image-url("px_negro.png");
    background-repeat: repeat;
    opacity: 0;
    visibility: hidden;    
    
    .btn_cerra_modal{
    width: 49px;
    height: 49px;
    position: absolute;
    background-position: -364px -259px;
    }
    .btn_cerra_modal:hover{
        background-position: -424px -259px;        

    }
}

.clases_popup{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -325px;
    margin-top: -325px;
    width: 651px;
    height: 651px;
    background-image: image-url("clases.png");
    display: none;

    .btn_cerrar_clases{
        top: 80px;
        right: 80px;
    }

    /*.logo_chef{
        background-position: -7px -624px;
        height: 83px;
        position: absolute;
        right: 0;
        top: 24px;
        width: 133px;
    }
    .info_clases{
        width: 285px;
        height: 190px;
        position: absolute;

        .gratis{

        }
        .clases_5{

        }
        .melisa{

        }
        .compra{

        }

    }
    .registro{

        .reg_txt{

        }
        .reg_num{

        }

    }*/
}

.video_popup{
    width: 760px;
    height: 524px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -380px;
    margin-top: -262px;
    display: none;

    .btn_cerrar_video{
        right: -50px;
        top: 60px;

    }
    .titulo_video{
        color: #eff1f1;
        font-family: "samsung_interfacebold";
        font-size: 30px;
            padding-left: 14px;

    }
    .descripcion_video{
        color: #eff1f1;
        font-family: "samsung_interfaceregular";
        font-size: 23px;
            padding-left: 14px;
    }
    .video_contendor{
        width: 743px;
        height: 443px;
        margin: 26px auto auto auto;   

    }
    .video_contendor.add_sombra{
        background-image: image-url("sombra_video_popup.png");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .video_embed{
        width: 733px;
        height: 433px;
        margin: auto;
        padding-top: 5px;
    }
}


